<form method="POST">
  {{ form.hidden_tag() }}

  <div class="mb-3">
    {{ form.name.label(class="form-label") }} {{ form.name(class="form-control")
    }} {% if form.name.errors %}
    <div class="text-danger small">
      {% for error in form.name.errors %}
      <div>{{ error }}</div>
      {% endfor %}
    </div>
    {% endif %}
  </div>

  <div class="mb-3">
    {{ form.category_id.label(class="form-label") }}
    {{form.category_id(class="form-select") }} 
    {% for error in form.category_id.errors %}
    <div class="text-danger small">{{ error }}</div>
    {% endfor %}
  </div>

  <div class="mt-4">
    {{ form.submit(class="btn btn-primary") }}
    <a
      href="{{ url_for('tbl_ingredient.index') }}"
      class="btn btn-outline-secondary"
    >
      Cancel
    </a>
  </div>
</form>
