<form method="POST">
  {{ form.hidden_tag() }}

  <div class="mb-3">
    {{ form.name.label(class="form-label") }} {{ form.name(class="form-control")
    }} {% if form.name.errors %}
    <div class="text-danger small">
      {% for error in form.name.errors %}
      <div>{{ error }}</div>
      {% endfor %}
    </div>
    {% endif %}
  </div>

  <div class="mb-3">
    {{ form.description.label(class="form-label") }} {{
    form.description(class="form-control") }} {% if form.description.errors %}
    <div class="text-danger small">
      {% for error in form.description.errors %}
      <div>{{ error }}</div>
      {% endfor %}
    </div>
    {% endif %}
  </div>

  <div class="mt-4">
    {{ form.submit(class="btn btn-primary") }}
    <a href="{{ url_for('tbl_cate.index') }}" class="btn btn-outline-secondary">
        Cancel
    </a>
</div>
</form>
