{% extends "layouts/base.html" %} {% block title %}Category {{ category.name }}{%
endblock %} {% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="h3 mb-0"><i class="fa-solid fa-circle-info"></i> Category Detail</h1>
  <div>
    <a
      href="#"
      class="btn btn-sm btn-warning text-light"
      ><i class="fa-solid fa-pencil"></i>Edit</a
    >
    <a
      href="#"
      class="btn btn-sm btn-danger"
      >Delete</a
    >
    <a
      href="{{ url_for('tbl_cate.index') }}"
      class="btn btn-sm btn-outline-secondary"
      >Back to list</a
    >
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <p><strong>Name:</strong> {{ category.name }}</p>
    <p><strong>Description:</strong> {{ category.description }}</p>
    </p>
  </div>
</div>
{% endblock %}
